<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Objects</key>
	<dict>
		<key>NextStoryButton</key>
		<dict>
			<key>ObjectType</key>
			<string>Button</string>
			<key>Sprite</key>
			<dict>
				<key>NormalFileName</key>
				<string>TestTutorialLib/Popup/popupGreenButtonBackground.png</string>
				<key>ActiveFileName</key>
				<string>TestTutorialLib/Popup/popupGreenButtonSelected.png</string>
			</dict>
			<key>Parameters</key>
			<dict>
				<key>PosX</key>
				<integer>200</integer>
				<key>PosY</key>
				<real>99.5</real>
				<key>ScaleX</key>
				<real>1</real>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>Rotation</key>
				<integer>0</integer>
				<key>Visible</key>
				<true/>
				<key>z_index</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>MainSpriteBackground</key>
		<dict>
			<key>ObjectType</key>
			<string>Sprite</string>
			<key>Sprite</key>
			<dict>
				<key>FileName</key>
				<string>TestTutorialLib/Popup/popupBackground.png</string>
				<key>FrameName</key>
				<string>popupBackground.png</string>
			</dict>
			<key>Parameters</key>
			<dict>
				<key>PosX</key>
				<integer>200</integer>
				<key>PosY</key>
				<real>99.5</real>
				<key>ScaleX</key>
				<real>1</real>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>Rotation</key>
				<integer>0</integer>
				<key>Visible</key>
				<true/>
				<key>z_index</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>Header</key>
		<dict>
			<key>ObjectType</key>
			<string>Sprite</string>
			<key>Sprite</key>
			<dict>
				<key>FileName</key>
				<string>TestTutorialLib/Popup/popupHeaderBackground.png</string>
				<key>FrameName</key>
				<string>popupHeaderBackground.png</string>
			</dict>
			<key>Parameters</key>
			<dict>
				<key>PosX</key>
				<integer>200</integer>
				<key>PosY</key>
				<integer>199</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>Rotation</key>
				<integer>0</integer>
				<key>Visible</key>
				<true/>
				<key>z_index</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>ConstructionGroundSprite</key>
		<dict>
			<key>ObjectType</key>
			<string>Sprite</string>
			<key>Sprite</key>
			<dict>
				<key>FileName</key>
				<string>TestTutorialLib/Popup/constructionGround.png</string>
				<key>FrameName</key>
				<string>constructionGround.png</string>
			</dict>
			<key>Parameters</key>
			<dict>
				<key>PosX</key>
				<integer>80</integer>
				<key>PosY</key>
				<integer>50</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>Rotation</key>
				<integer>0</integer>
				<key>Visible</key>
				<true/>
				<key>z_index</key>
				<integer>2</integer>
			</dict>
		</dict>
		<key>StickNoteSprite</key>
		<dict>
			<key>ObjectType</key>
			<string>Sprite</string>
			<key>Sprite</key>
			<dict>
				<key>FileName</key>
				<string>TestTutorialLib/Popup/leftStickNote.png</string>
				<key>FrameName</key>
				<string>leftStickNote.png</string>
			</dict>
			<key>Parameters</key>
			<dict>
				<key>PosX</key>
				<integer>130</integer>
				<key>PosY</key>
				<integer>80</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>Rotation</key>
				<integer>0</integer>
				<key>Visible</key>
				<true/>
				<key>z_index</key>
				<integer>2</integer>
			</dict>
		</dict>
		<key>ElectricTowerSprite</key>
		<dict>
			<key>ObjectType</key>
			<string>Sprite</string>
			<key>Sprite</key>
			<dict>
				<key>FileName</key>
				<string>TestTutorialLib/Popup/ElectricTower.png</string>
				<key>FrameName</key>
				<string>ElectricTower.png</string>
			</dict>
			<key>Parameters</key>
			<dict>
				<key>PosX</key>
				<integer>80</integer>
				<key>PosY</key>
				<integer>70</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>Rotation</key>
				<integer>0</integer>
				<key>Visible</key>
				<false/>
				<key>z_index</key>
				<integer>2</integer>
			</dict>
		</dict>
		<key>FingerTapSprite</key>
		<dict>
			<key>ObjectType</key>
			<string>Sprite</string>
			<key>Sprite</key>
			<dict>
				<key>FileName</key>
				<string>TestTutorialLib/Popup/FingerTap0.png</string>
				<key>FrameName</key>
				<string>FingerTap0.png</string>
			</dict>
			<key>Parameters</key>
			<dict>
				<key>PosX</key>
				<integer>0</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<real>0.1</real>
				<key>ScaleY</key>
				<real>0.1</real>
				<key>Rotation</key>
				<integer>0</integer>
				<key>Visible</key>
				<true/>
				<key>z_index</key>
				<integer>10</integer>
			</dict>
		</dict>
		<key>TowerListSprite</key>
		<dict>
			<key>ObjectType</key>
			<string>Sprite</string>
			<key>Sprite</key>
			<dict>
				<key>FileName</key>
				<string>TestTutorialLib/Popup/Guide02.png</string>
				<key>FrameName</key>
				<string>Guide02.png</string>
			</dict>
			<key>Parameters</key>
			<dict>
				<key>PosX</key>
				<integer>480</integer>
				<key>PosY</key>
				<integer>100</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>Rotation</key>
				<integer>0</integer>
				<key>Visible</key>
				<false/>
				<key>z_index</key>
				<integer>3</integer>
			</dict>
		</dict>
		<key>UpgradeListSprite</key>
		<dict>
			<key>ObjectType</key>
			<string>Sprite</string>
			<key>Sprite</key>
			<dict>
				<key>FileName</key>
				<string>TestTutorialLib/Popup/Guide03.png</string>
				<key>FrameName</key>
				<string>Guide03.png</string>
			</dict>
			<key>Parameters</key>
			<dict>
				<key>PosX</key>
				<integer>500</integer>
				<key>PosY</key>
				<integer>100</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>Rotation</key>
				<integer>0</integer>
				<key>Visible</key>
				<false/>
				<key>z_index</key>
				<integer>3</integer>
			</dict>
		</dict>
		<key>ReadyCircleSprite</key>
		<dict>
			<key>ObjectType</key>
			<string>Sprite</string>
			<key>Sprite</key>
			<dict>
				<key>FileName</key>
				<string>TestTutorialLib/Popup/ready.png</string>
				<key>FrameName</key>
				<string>ready.png</string>
			</dict>
			<key>Parameters</key>
			<dict>
				<key>PosX</key>
				<integer>80</integer>
				<key>PosY</key>
				<integer>50</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>Rotation</key>
				<integer>0</integer>
				<key>Visible</key>
				<true/>
				<key>z_index</key>
				<integer>2</integer>
			</dict>
		</dict>
		<key>TextHeader</key>
		<dict>
			<key>ObjectType</key>
			<string>Text</string>
			<key>Parameters</key>
			<dict>
				<key>TextContent</key>
				<string>Game Guide</string>
				<key>PosX</key>
				<integer>200</integer>
				<key>PosY</key>
				<integer>199</integer>
				<key>Width</key>
				<integer>100</integer>
				<key>Height</key>
				<integer>30</integer>
				<key>Rotation</key>
				<integer>0</integer>
				<key>Visible</key>
				<true/>
				<key>FontName</key>
				<string>Marker Felt</string>
				<key>FontSize</key>
				<integer>22</integer>
				<key>TextColor_R</key>
				<integer>0</integer>
				<key>TextColor_G</key>
				<integer>0</integer>
				<key>TextColor_B</key>
				<integer>0</integer>
				<key>z_index</key>
				<integer>3</integer>
			</dict>
		</dict>
		<key>TextOK</key>
		<dict>
			<key>ObjectType</key>
			<string>Text</string>
			<key>Parameters</key>
			<dict>
				<key>TextContent</key>
				<string>OK</string>
				<key>PosX</key>
				<real>310.5</real>
				<key>PosY</key>
				<integer>0</integer>
				<key>Width</key>
				<integer>100</integer>
				<key>Height</key>
				<integer>30</integer>
				<key>Rotation</key>
				<integer>0</integer>
				<key>Visible</key>
				<true/>
				<key>FontName</key>
				<string>Marker Felt</string>
				<key>FontSize</key>
				<integer>26</integer>
				<key>TextColor_R</key>
				<integer>0</integer>
				<key>TextColor_G</key>
				<integer>0</integer>
				<key>TextColor_B</key>
				<integer>0</integer>
				<key>z_index</key>
				<integer>3</integer>
			</dict>
		</dict>
		<key>TextCancel</key>
		<dict>
			<key>ObjectType</key>
			<string>Text</string>
			<key>Parameters</key>
			<dict>
				<key>TextContent</key>
				<string>Cancel</string>
				<key>PosX</key>
				<integer>100</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>Width</key>
				<integer>100</integer>
				<key>Height</key>
				<integer>30</integer>
				<key>Rotation</key>
				<integer>0</integer>
				<key>Visible</key>
				<true/>
				<key>FontName</key>
				<string>Marker Felt</string>
				<key>FontSize</key>
				<integer>26</integer>
				<key>TextColor_R</key>
				<integer>0</integer>
				<key>TextColor_G</key>
				<integer>0</integer>
				<key>TextColor_B</key>
				<integer>0</integer>
				<key>z_index</key>
				<integer>3</integer>
			</dict>
		</dict>
		<key>TextConstructionground</key>
		<dict>
			<key>ObjectType</key>
			<string>Text</string>
			<key>Parameters</key>
			<dict>
				<key>TextContent</key>
				<string>Construction Ground</string>
				<key>PosX</key>
				<integer>140</integer>
				<key>PosY</key>
				<integer>90</integer>
				<key>Width</key>
				<integer>120</integer>
				<key>Height</key>
				<integer>18</integer>
				<key>Rotation</key>
				<integer>0</integer>
				<key>Visible</key>
				<true/>
				<key>FontName</key>
				<string>Marker Felt</string>
				<key>FontSize</key>
				<integer>15</integer>
				<key>TextColor_R</key>
				<integer>0</integer>
				<key>TextColor_G</key>
				<integer>0</integer>
				<key>TextColor_B</key>
				<integer>0</integer>
				<key>z_index</key>
				<integer>3</integer>
			</dict>
		</dict>
		<key>TextGuide</key>
		<dict>
			<key>ObjectType</key>
			<string>Text</string>
			<key>Parameters</key>
			<dict>
				<key>TextContent</key>
				<string>Tap on the Construction Ground to select a Tower to build it. Then tap on the tower to upgrade or sell it</string>
				<key>PosX</key>
				<integer>150</integer>
				<key>PosY</key>
				<real>69.5</real>
				<key>Width</key>
				<integer>220</integer>
				<key>Height</key>
				<integer>200</integer>
				<key>Rotation</key>
				<integer>0</integer>
				<key>Visible</key>
				<true/>
				<key>FontName</key>
				<string>Marker Felt</string>
				<key>FontSize</key>
				<integer>15</integer>
				<key>z_index</key>
				<integer>3</integer>
			</dict>
		</dict>
	</dict>
	<key>Storyboard</key>
	<dict>
		<key>Story_1</key>
		<dict>
			<key>Objects</key>
			<dict>
				<key>NextStoryButton</key>
				<dict>
					<key>Parameters</key>
					<dict>
						<key>PosX</key>
						<integer>300</integer>
						<key>PosY</key>
						<integer>-10</integer>
						<key>ScaleX</key>
						<integer>1</integer>
						<key>ScaleY</key>
						<integer>1</integer>
						<key>Rotation</key>
						<integer>0</integer>
						<key>Visible</key>
						<true/>
						<key>z_index</key>
						<integer>10</integer>
					</dict>
				</dict>
				<key>TextHeader</key>
				<dict>
					<key>Parameters</key>
					<dict>
						<key>TextContent</key>
						<string>Game Guide</string>
						<key>PosX</key>
						<integer>200</integer>
						<key>PosY</key>
						<integer>199</integer>
						<key>Width</key>
						<integer>100</integer>
						<key>Height</key>
						<integer>30</integer>
						<key>Visible</key>
						<true/>
						<key>FontName</key>
						<string>Marker Felt</string>
						<key>FontSize</key>
						<integer>22</integer>
						<key>z_index</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>MainSpriteBackground</key>
				<dict>
					<key>Parameters</key>
					<dict>
						<key>PosX</key>
						<integer>200</integer>
						<key>PosY</key>
						<real>99.5</real>
						<key>ScaleX</key>
						<real>1</real>
						<key>ScaleY</key>
						<integer>1</integer>
						<key>Rotation</key>
						<integer>0</integer>
						<key>Visible</key>
						<true/>
						<key>z_index</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>Header</key>
				<dict>
					<key>Parameters</key>
					<dict>
						<key>PosX</key>
						<integer>200</integer>
						<key>PosY</key>
						<integer>199</integer>
						<key>ScaleX</key>
						<integer>1</integer>
						<key>ScaleY</key>
						<integer>1</integer>
						<key>Rotation</key>
						<integer>0</integer>
						<key>Visible</key>
						<true/>
						<key>z_index</key>
						<integer>1</integer>
					</dict>
				</dict>
				<key>ConstructionGroundSprite</key>
				<dict>
					<key>Parameters</key>
					<dict>
						<key>PosX</key>
						<integer>80</integer>
						<key>PosY</key>
						<integer>50</integer>
						<key>ScaleX</key>
						<integer>1</integer>
						<key>ScaleY</key>
						<integer>1</integer>
						<key>Rotation</key>
						<integer>0</integer>
						<key>Visible</key>
						<true/>
						<key>z_index</key>
						<integer>2</integer>
					</dict>
				</dict>
				<key>StickNoteSprite</key>
				<dict>
					<key>Parameters</key>
					<dict>
						<key>PosX</key>
						<integer>130</integer>
						<key>PosY</key>
						<integer>80</integer>
						<key>ScaleX</key>
						<integer>1</integer>
						<key>ScaleY</key>
						<integer>1</integer>
						<key>Rotation</key>
						<integer>0</integer>
						<key>Visible</key>
						<true/>
						<key>z_index</key>
						<integer>2</integer>
					</dict>
				</dict>
				<key>ElectricTowerSprite</key>
				<dict>
					<key>Parameters</key>
					<dict>
						<key>PosX</key>
						<integer>80</integer>
						<key>PosY</key>
						<integer>70</integer>
						<key>ScaleX</key>
						<integer>1</integer>
						<key>ScaleY</key>
						<integer>1</integer>
						<key>Rotation</key>
						<integer>0</integer>
						<key>Visible</key>
						<false/>
						<key>z_index</key>
						<integer>2</integer>
					</dict>
				</dict>
				<key>FingerTapSprite</key>
				<dict>
					<key>Parameters</key>
					<dict>
						<key>PosX</key>
						<integer>0</integer>
						<key>PosY</key>
						<integer>0</integer>
						<key>ScaleX</key>
						<real>0.1</real>
						<key>ScaleY</key>
						<real>0.1</real>
						<key>Rotation</key>
						<integer>0</integer>
						<key>Visible</key>
						<true/>
						<key>z_index</key>
						<integer>10</integer>
					</dict>
				</dict>
				<key>TowerListSprite</key>
				<dict>
					<key>Parameters</key>
					<dict>
						<key>PosX</key>
						<integer>480</integer>
						<key>PosY</key>
						<integer>100</integer>
						<key>ScaleX</key>
						<real>0.6</real>
						<key>ScaleY</key>
						<real>0.6</real>
						<key>Rotation</key>
						<integer>0</integer>
						<key>Visible</key>
						<false/>
						<key>z_index</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>UpgradeListSprite</key>
				<dict>
					<key>Parameters</key>
					<dict>
						<key>PosX</key>
						<integer>500</integer>
						<key>PosY</key>
						<integer>100</integer>
						<key>ScaleX</key>
						<real>0.7</real>
						<key>ScaleY</key>
						<real>0.7</real>
						<key>Rotation</key>
						<integer>0</integer>
						<key>Visible</key>
						<false/>
						<key>z_index</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>TextConstructionground</key>
				<dict>
					<key>Parameters</key>
					<dict>
						<key>TextContent</key>
						<string>Construction Ground</string>
						<key>PosX</key>
						<integer>140</integer>
						<key>PosY</key>
						<integer>90</integer>
						<key>Width</key>
						<integer>120</integer>
						<key>Height</key>
						<integer>18</integer>
						<key>Rotation</key>
						<integer>0</integer>
						<key>Visible</key>
						<true/>
						<key>FontName</key>
						<string>Marker Felt</string>
						<key>FontSize</key>
						<integer>15</integer>
						<key>z_index</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>TextGuide</key>
				<dict>
					<key>Parameters</key>
					<dict>
						<key>TextContent</key>
						<string>Tap on the Construction Ground to select a Tower to build it. Then tap on the tower to upgrade or sell it</string>
						<key>PosX</key>
						<integer>150</integer>
						<key>PosY</key>
						<real>69.5</real>
						<key>Width</key>
						<integer>220</integer>
						<key>Height</key>
						<integer>200</integer>
						<key>Rotation</key>
						<integer>0</integer>
						<key>Visible</key>
						<true/>
						<key>FontName</key>
						<string>Marker Felt</string>
						<key>FontSize</key>
						<integer>15</integer>
						<key>TextColor_R</key>
						<integer>0</integer>
						<key>TextColor_G</key>
						<integer>0</integer>
						<key>TextColor_B</key>
						<integer>0</integer>
						<key>z_index</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Actions</key>
			<dict>
				<key>MoveFingerToGround</key>
				<dict>
					<key>Object</key>
					<string>FingerTapSprite</string>
					<key>ActionType</key>
					<string>MoveTo</string>
					<key>Destination_X</key>
					<integer>80</integer>
					<key>Destination_Y</key>
					<integer>70</integer>
					<key>Duration</key>
					<real>0.95</real>
					<key>ScheduleAfterTime</key>
					<integer>0</integer>
				</dict>
				<key>ShowListTower</key>
				<dict>
					<key>Object</key>
					<string>TowerListSprite</string>
					<key>ActionType</key>
					<string>Show</string>
					<key>ScheduleAfterTime</key>
					<real>0.95</real>
				</dict>
				<key>MoveListTower</key>
				<dict>
					<key>Object</key>
					<string>TowerListSprite</string>
					<key>ActionType</key>
					<string>MoveTo</string>
					<key>Destination_X</key>
					<integer>300</integer>
					<key>Destination_Y</key>
					<integer>100</integer>
					<key>Duration</key>
					<real>0.95</real>
					<key>ScheduleAfterTime</key>
					<real>0.95</real>
				</dict>
				<key>MoveFingerToTowerList</key>
				<dict>
					<key>Object</key>
					<string>FingerTapSprite</string>
					<key>ActionType</key>
					<string>MoveTo</string>
					<key>Destination_X</key>
					<integer>300</integer>
					<key>Destination_Y</key>
					<integer>80</integer>
					<key>Duration</key>
					<real>0.95</real>
					<key>ScheduleAfterTime</key>
					<real>1.9</real>
				</dict>
				<key>HideStickNote</key>
				<dict>
					<key>Object</key>
					<string>StickNoteSprite</string>
					<key>ActionType</key>
					<string>Hide</string>
					<key>Duration</key>
					<real>0.95</real>
					<key>ScheduleAfterTime</key>
					<real>2.85</real>
				</dict>
				<key>HideTextGround</key>
				<dict>
					<key>Object</key>
					<string>TextConstructionground</string>
					<key>ActionType</key>
					<string>Hide</string>
					<key>ScheduleAfterTime</key>
					<real>2.85</real>
				</dict>
				<key>ShowElectricTower</key>
				<dict>
					<key>Object</key>
					<string>ElectricTowerSprite</string>
					<key>ActionType</key>
					<string>Show</string>
					<key>Duration</key>
					<real>0.95</real>
					<key>ScheduleAfterTime</key>
					<real>2.85</real>
				</dict>
				<key>MoveFingerToElectricTower</key>
				<dict>
					<key>Object</key>
					<string>FingerTapSprite</string>
					<key>ActionType</key>
					<string>MoveTo</string>
					<key>Destination_X</key>
					<integer>80</integer>
					<key>Destination_Y</key>
					<integer>70</integer>
					<key>Duration</key>
					<real>0.95</real>
					<key>ScheduleAfterTime</key>
					<real>2.85</real>
				</dict>
				<key>HideListTower</key>
				<dict>
					<key>Object</key>
					<string>TowerListSprite</string>
					<key>ActionType</key>
					<string>Hide</string>
					<key>ScheduleAfterTime</key>
					<real>3.8</real>
				</dict>
				<key>ShowUpgradeList</key>
				<dict>
					<key>Object</key>
					<string>UpgradeListSprite</string>
					<key>ActionType</key>
					<string>Show</string>
					<key>ScheduleAfterTime</key>
					<real>3.8</real>
				</dict>
				<key>MoveUpgradeList</key>
				<dict>
					<key>Object</key>
					<string>UpgradeListSprite</string>
					<key>ActionType</key>
					<string>MoveTo</string>
					<key>Destination_X</key>
					<integer>300</integer>
					<key>Destination_Y</key>
					<integer>100</integer>
					<key>Duration</key>
					<real>0.95</real>
					<key>ScheduleAfterTime</key>
					<real>3.8</real>
				</dict>
			</dict>
		</dict>
		<key>Story_2</key>
		<dict>
			<key>Objects</key>
			<dict>
				<key>MainSpriteBackground</key>
				<dict>
					<key>Parameters</key>
					<dict>
						<key>PosX</key>
						<integer>200</integer>
						<key>PosY</key>
						<real>99.5</real>
						<key>ScaleX</key>
						<real>1</real>
						<key>ScaleY</key>
						<integer>1</integer>
						<key>Rotation</key>
						<integer>0</integer>
						<key>Visible</key>
						<true/>
						<key>z_index</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>Header</key>
				<dict>
					<key>Parameters</key>
					<dict>
						<key>PosX</key>
						<integer>200</integer>
						<key>PosY</key>
						<integer>199</integer>
						<key>ScaleX</key>
						<integer>1</integer>
						<key>ScaleY</key>
						<integer>1</integer>
						<key>Rotation</key>
						<integer>0</integer>
						<key>Visible</key>
						<true/>
						<key>z_index</key>
						<integer>1</integer>
					</dict>
				</dict>
				<key>StickNoteSprite</key>
				<dict>
					<key>Parameters</key>
					<dict>
						<key>PosX</key>
						<real>270.5</real>
						<key>PosY</key>
						<integer>100</integer>
						<key>ScaleX</key>
						<real>0.8</real>
						<key>ScaleY</key>
						<real>0.8</real>
						<key>Rotation</key>
						<integer>0</integer>
						<key>Visible</key>
						<true/>
						<key>z_index</key>
						<integer>2</integer>
					</dict>
				</dict>
				<key>TextHeader</key>
				<dict>
					<key>Parameters</key>
					<dict>
						<key>TextContent</key>
						<string>Game Guide</string>
						<key>PosX</key>
						<integer>200</integer>
						<key>PosY</key>
						<integer>199</integer>
						<key>Width</key>
						<integer>100</integer>
						<key>Height</key>
						<integer>30</integer>
						<key>Rotation</key>
						<integer>0</integer>
						<key>Visible</key>
						<true/>
						<key>FontName</key>
						<string>Marker Felt</string>
						<key>FontSize</key>
						<integer>22</integer>
						<key>z_index</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>TextConstructionground</key>
				<dict>
					<key>Parameters</key>
					<dict>
						<key>TextContent</key>
						<string>Start Wave Circle</string>
						<key>PosX</key>
						<real>75.5</real>
						<key>PosY</key>
						<integer>31</integer>
						<key>Width</key>
						<integer>108</integer>
						<key>Height</key>
						<integer>18</integer>
						<key>Rotation</key>
						<integer>0</integer>
						<key>Visible</key>
						<true/>
						<key>FontName</key>
						<string>Marker Felt</string>
						<key>FontSize</key>
						<integer>15</integer>
						<key>z_index</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>TextGuide</key>
				<dict>
					<key>Parameters</key>
					<dict>
						<key>TextContent</key>
						<string>Tap on the start wave circle when you&apos;re ready to play. Defeat all enemy waves to win. If your life is reduced to 0, you lose.</string>
						<key>PosX</key>
						<integer>200</integer>
						<key>PosY</key>
						<real>69.5</real>
						<key>Width</key>
						<integer>360</integer>
						<key>Height</key>
						<integer>200</integer>
						<key>Rotation</key>
						<integer>0</integer>
						<key>Visible</key>
						<true/>
						<key>FontName</key>
						<string>Marker Felt</string>
						<key>FontSize</key>
						<integer>15</integer>
						<key>z_index</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>ReadyCircleSprite</key>
				<dict>
					<key>Parameters</key>
					<dict>
						<key>PosX</key>
						<integer>200</integer>
						<key>PosY</key>
						<integer>70</integer>
						<key>ScaleX</key>
						<integer>1</integer>
						<key>ScaleY</key>
						<integer>1</integer>
						<key>Rotation</key>
						<integer>0</integer>
						<key>Visible</key>
						<true/>
						<key>z_index</key>
						<integer>2</integer>
					</dict>
				</dict>
			</dict>
			<key>Actions</key>
			<dict/>
		</dict>
		<key>Story_3</key>
		<dict>
			<key>Objects</key>
			<dict>
				<key>NextStoryButton</key>
				<dict>
					<key>Parameters</key>
					<dict>
						<key>PosX</key>
						<integer>300</integer>
						<key>PosY</key>
						<integer>-10</integer>
						<key>ScaleX</key>
						<integer>1</integer>
						<key>ScaleY</key>
						<integer>1</integer>
						<key>Rotation</key>
						<integer>0</integer>
						<key>Visible</key>
						<true/>
						<key>z_index</key>
						<integer>10</integer>
					</dict>
				</dict>
				<key>FingerTapSprite</key>
				<dict>
					<key>Parameters</key>
					<dict>
						<key>PosX</key>
						<integer>100</integer>
						<key>PosY</key>
						<integer>100</integer>
						<key>ScaleX</key>
						<real>0.1</real>
						<key>ScaleY</key>
						<real>0.1</real>
						<key>Rotation</key>
						<integer>0</integer>
						<key>Visible</key>
						<true/>
						<key>z_index</key>
						<integer>10</integer>
					</dict>
				</dict>
				<key>TextGuide</key>
				<dict>
					<key>Parameters</key>
					<dict>
						<key>TextContent</key>
						<string>Slide to cut it!!!</string>
						<key>PosX</key>
						<integer>200</integer>
						<key>PosY</key>
						<integer>100</integer>
						<key>Width</key>
						<integer>360</integer>
						<key>Height</key>
						<integer>200</integer>
						<key>Rotation</key>
						<integer>-45</integer>
						<key>Visible</key>
						<true/>
						<key>FontName</key>
						<string>Marker Felt</string>
						<key>FontSize</key>
						<integer>15</integer>
						<key>TextColor_R</key>
						<integer>255</integer>
						<key>TextColor_G</key>
						<integer>100</integer>
						<key>TextColor_B</key>
						<integer>100</integer>
						<key>z_index</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Actions</key>
			<dict>
				<key>TextGuideFadeSequence</key>
				<dict>
					<key>Object</key>
					<string>TextGuide</string>
					<key>ActionType</key>
					<string>Sequence</string>
					<key>ScheduleAfterTime</key>
					<integer>0</integer>
					<key>Repeat</key>
					<integer>-1</integer>
					<key>ActionSequence</key>
					<array>
						<dict>
							<key>ActionType</key>
							<string>FadeIn</string>
							<key>Duration</key>
							<real>0.75</real>
						</dict>
						<dict>
							<key>ActionType</key>
							<string>FadeOut</string>
							<key>Duration</key>
							<real>0.25</real>
						</dict>
					</array>
				</dict>
				<key>TextGuideScaleSequence</key>
				<dict>
					<key>Object</key>
					<string>TextGuide</string>
					<key>ActionType</key>
					<string>Sequence</string>
					<key>ScheduleAfterTime</key>
					<integer>0</integer>
					<key>Repeat</key>
					<integer>-1</integer>
					<key>ActionSequence</key>
					<array>
						<dict>
							<key>ActionType</key>
							<string>ScaleTo</string>
							<key>ScaleX</key>
							<real>0.95</real>
							<key>ScaleY</key>
							<real>0.95</real>
							<key>Duration</key>
							<real>0.75</real>
						</dict>
						<dict>
							<key>ActionType</key>
							<string>ScaleTo</string>
							<key>ScaleX</key>
							<real>1.05</real>
							<key>ScaleY</key>
							<real>1.05</real>
							<key>Duration</key>
							<real>0.25</real>
						</dict>
					</array>
				</dict>
				<key>FingerMoveSequence</key>
				<dict>
					<key>Object</key>
					<string>FingerTapSprite</string>
					<key>ActionType</key>
					<string>Sequence</string>
					<key>ScheduleAfterTime</key>
					<integer>0</integer>
					<key>Repeat</key>
					<integer>-1</integer>
					<key>ActionSequence</key>
					<array>
						<dict>
							<key>ActionType</key>
							<string>MoveTo</string>
							<key>Destination_X</key>
							<integer>100</integer>
							<key>Destination_Y</key>
							<integer>100</integer>
							<key>Duration</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>ActionType</key>
							<string>MoveTo</string>
							<key>Destination_X</key>
							<integer>200</integer>
							<key>Destination_Y</key>
							<integer>200</integer>
							<key>Duration</key>
							<real>1.75</real>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
