<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BombTower.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,118},{80,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,56}}</string>
			<key>sourceSize</key>
			<string>{80,56}</string>
		</dict>
		<key>BombTower_AfterShoot_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{80,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,56}}</string>
			<key>sourceSize</key>
			<string>{80,56}</string>
		</dict>
		<key>BombTower_AfterShoot_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,2},{80,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,56}}</string>
			<key>sourceSize</key>
			<string>{80,56}</string>
		</dict>
		<key>BombTower_AfterShoot_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,2},{80,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,56}}</string>
			<key>sourceSize</key>
			<string>{80,56}</string>
		</dict>
		<key>BombTower_AfterShoot_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,60},{80,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,56}}</string>
			<key>sourceSize</key>
			<string>{80,56}</string>
		</dict>
		<key>BombTower_AfterShoot_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,60},{80,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,56}}</string>
			<key>sourceSize</key>
			<string>{80,56}</string>
		</dict>
		<key>BombTower_AfterShoot_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,60},{80,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,56}}</string>
			<key>sourceSize</key>
			<string>{80,56}</string>
		</dict>
		<key>BombTower_AfterShoot_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,118},{80,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,56}}</string>
			<key>sourceSize</key>
			<string>{80,56}</string>
		</dict>
		<key>BombTower_AfterShoot_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,118},{80,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,56}}</string>
			<key>sourceSize</key>
			<string>{80,56}</string>
		</dict>
		<key>BombTower_BeforeShoot_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,118},{80,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,56}}</string>
			<key>sourceSize</key>
			<string>{80,56}</string>
		</dict>
		<key>BombTower_BeforeShoot_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,176},{80,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,56}}</string>
			<key>sourceSize</key>
			<string>{80,56}</string>
		</dict>
		<key>BombTower_BeforeShoot_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,176},{80,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,56}}</string>
			<key>sourceSize</key>
			<string>{80,56}</string>
		</dict>
		<key>BombTower_BeforeShoot_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,176},{80,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,56}}</string>
			<key>sourceSize</key>
			<string>{80,56}</string>
		</dict>
		<key>BombTower_BeforeShoot_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,234},{80,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,56}}</string>
			<key>sourceSize</key>
			<string>{80,56}</string>
		</dict>
		<key>BombTower_BeforeShoot_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,234},{80,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,56}}</string>
			<key>sourceSize</key>
			<string>{80,56}</string>
		</dict>
		<key>BombTower_BeforeShoot_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,234},{80,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,56}}</string>
			<key>sourceSize</key>
			<string>{80,56}</string>
		</dict>
		<key>BombTower_BeforeShoot_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,292},{80,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,56}}</string>
			<key>sourceSize</key>
			<string>{80,56}</string>
		</dict>
		<key>BombTower_BeforeShoot_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,292},{80,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,56}}</string>
			<key>sourceSize</key>
			<string>{80,56}</string>
		</dict>
		<key>BombTower_BeforeShoot_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,292},{80,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,56}}</string>
			<key>sourceSize</key>
			<string>{80,56}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>BombTower.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e1921396762358b21727ffa0c28843a9$</string>
		<key>textureFileName</key>
		<string>BombTower.png</string>
	</dict>
</dict>
</plist>
