<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Goblin_Attack_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Attack_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Attack_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,2},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Attack_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,2},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Attack_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,34},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Attack_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,34},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Attack_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,34},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Attack_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,66},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Attack_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,66},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Die_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,66},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Die_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,98},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Die_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,98},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Die_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,98},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,130},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,130},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,130},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,162},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,162},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,162},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,194},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,194},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_Down_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,194},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_Down_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,226},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_Down_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,226},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_Down_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,226},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_Down_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,258},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_Down_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,258},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_Down_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,258},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_Down_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,290},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_Down_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,290},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_Down_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,290},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_Down_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,322},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_Down_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,322},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_Up_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,322},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_Up_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,354},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_Up_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,354},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_Up_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,354},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_Up_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,386},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_Up_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,386},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_Up_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,386},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_Up_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,418},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_Up_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,418},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_Up_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,418},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_Up_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,450},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>Goblin_Move_Up_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,450},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Goblin.png</string>
		<key>size</key>
		<string>{113,482}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9e2d842e5e32ccdb9ae0dce7e5777629$</string>
		<key>textureFileName</key>
		<string>Goblin.png</string>
	</dict>
	<key>status</key>
	<dict>
		<key>HP</key>
		<integer>20</integer>
		<key>minDamage</key>
		<string>1</string>
		<key>maxDamage</key>
		<string>3</string>
		<key>armor</key>
		<string>Medium</string>
		<key>energyResistance</key>
		<string>None</string>
		<key>speed</key>
		<string>Medium</string>
		<key>bounty</key>
		<integer>3</integer>
		<key>flyType</key>
		<false/>
		<key>rangedAttack</key>
		<false/>
		<key>livesTaken</key>
		<integer>1</integer>
	</dict>
	<key>animations</key>
	<dict>
		<key>frameName</key>
		<string>Goblin_</string>
		<key>Move_Up</key>
		<dict>
			<key>frameRange</key>
			<integer>12</integer>
			<key>delay</key>
			<real>0.1</real>
			<key>restore</key>
			<false/>
		</dict>
		<key>Move_Down</key>
		<dict>
			<key>frameRange</key>
			<integer>12</integer>
			<key>delay</key>
			<real>0.1</real>
			<key>restore</key>
			<false/>
		</dict>
		<key>Move</key>
		<dict>
			<key>frameRange</key>
			<integer>8</integer>
			<key>delay</key>
			<real>0.1</real>
			<key>restore</key>
			<false/>
		</dict>
		<key>Attack</key>
		<dict>
			<key>frameRange</key>
			<integer>9</integer>
			<key>delay</key>
			<real>0.1</real>
			<key>restore</key>
			<false/>
		</dict>
		<key>Die</key>
		<dict>
			<key>frameRange</key>
			<integer>4</integer>
			<key>delay</key>
			<real>0.1</real>
			<key>restore</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
