<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Bomb.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{17,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,16}}</string>
			<key>sourceSize</key>
			<string>{17,16}</string>
		</dict>
		<key>Bomb_Explosive_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{21,2},{55,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,77}}</string>
			<key>sourceSize</key>
			<string>{55,77}</string>
		</dict>
		<key>Bomb_Explosive_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,2},{55,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,77}}</string>
			<key>sourceSize</key>
			<string>{55,77}</string>
		</dict>
		<key>Bomb_Explosive_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{135,2},{55,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,77}}</string>
			<key>sourceSize</key>
			<string>{55,77}</string>
		</dict>
		<key>Bomb_Explosive_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,2},{55,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,77}}</string>
			<key>sourceSize</key>
			<string>{55,77}</string>
		</dict>
		<key>Bomb_Explosive_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,81},{55,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,77}}</string>
			<key>sourceSize</key>
			<string>{55,77}</string>
		</dict>
		<key>Bomb_Explosive_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,81},{55,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,77}}</string>
			<key>sourceSize</key>
			<string>{55,77}</string>
		</dict>
		<key>Bomb_Explosive_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,81},{55,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,77}}</string>
			<key>sourceSize</key>
			<string>{55,77}</string>
		</dict>
		<key>Bomb_Explosive_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,81},{55,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,77}}</string>
			<key>sourceSize</key>
			<string>{55,77}</string>
		</dict>
		<key>Bomb_Explosive_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,160},{55,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,77}}</string>
			<key>sourceSize</key>
			<string>{55,77}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>stoneBullet.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:18c03a1b4479646a06b7d1cbd821e76f$</string>
		<key>textureFileName</key>
		<string>stoneBullet.png</string>
	</dict>
</dict>
</plist>
