<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Objects</key>
	<dict>
		<key>ParticleTest</key>
		<dict>
			<key>ObjectType</key>
			<string>Particle</string>
			<key>Particle</key>
			<dict>
				<key>ParticleName</key>
				<string></string>
				<key>CustomParticleFileName</key>
				<string>TestTutorialLib/FruitWarTutorial/blade_sparkle.plist</string>
			</dict>
			<key>Parameters</key>
			<dict>
				<key>PosX</key>
				<integer>240</integer>
				<key>PosY</key>
				<integer>160</integer>
				<key>Rotation</key>
				<integer>0</integer>
				<key>Visible</key>
				<false/>
				<key>z_index</key>
				<integer>99999</integer>
			</dict>
		</dict>
		<key>FingerTapSprite</key>
		<dict>
			<key>ObjectType</key>
			<string>Button</string>
			<key>Sprite</key>
			<dict>
				<key>NormalFileName</key>
				<string>TestTutorialLib/Popup/FingerTap0.png</string>
				<key>ActiveFileName</key>
				<string>TestTutorialLib/Popup/FingerTap0.png</string>
			</dict>
			<key>Parameters</key>
			<dict>
				<key>PosX</key>
				<integer>0</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<real>0.1</real>
				<key>ScaleY</key>
				<real>0.1</real>
				<key>Rotation</key>
				<integer>0</integer>
				<key>Visible</key>
				<true/>
				<key>z_index</key>
				<integer>10</integer>
			</dict>
		</dict>
		<key>TextGuide</key>
		<dict>
			<key>ObjectType</key>
			<string>Text</string>
			<key>Parameters</key>
			<dict>
				<key>TextContent</key>
				<string>Tap on the Construction Ground to select a Tower to build it. Then tap on the tower to upgrade or sell it</string>
				<key>PosX</key>
				<integer>150</integer>
				<key>PosY</key>
				<real>69.5</real>
				<key>Width</key>
				<integer>220</integer>
				<key>Height</key>
				<integer>200</integer>
				<key>Rotation</key>
				<integer>0</integer>
				<key>Visible</key>
				<true/>
				<key>FontName</key>
				<string>Marker Felt</string>
				<key>FontSize</key>
				<integer>15</integer>
				<key>z_index</key>
				<integer>3</integer>
			</dict>
		</dict>
	</dict>
	<key>Storyboard</key>
	<dict>
		<key>Story_1</key>
		<dict>
			<key>Objects</key>
			<dict>
				<key>ParticleTest</key>
				<dict>
					<key>Parameters</key>
					<dict>
						<key>PosX</key>
						<integer>35</integer>
						<key>PosY</key>
						<integer>80</integer>
						<key>Rotation</key>
						<integer>0</integer>
						<key>Visible</key>
						<true/>
						<key>z_index</key>
						<integer>99999</integer>
					</dict>
				</dict>
				<key>FingerTapSprite</key>
				<dict>
					<key>Parameters</key>
					<dict>
						<key>PosX</key>
						<integer>40</integer>
						<key>PosY</key>
						<integer>60</integer>
						<key>ScaleX</key>
						<real>0.1</real>
						<key>ScaleY</key>
						<real>0.1</real>
						<key>AnchorPointX</key>
						<integer>0</integer>
						<key>AnchorPointY</key>
						<integer>0</integer>
						<key>Rotation</key>
						<integer>0</integer>
						<key>Visible</key>
						<true/>
						<key>z_index</key>
						<integer>10</integer>
					</dict>
				</dict>
				<key>TextGuide</key>
				<dict>
					<key>Parameters</key>
					<dict>
						<key>TextContent</key>
						<string>Tap to create a ball at this point!!!</string>
						<key>PosX</key>
						<integer>70</integer>
						<key>PosY</key>
						<integer>20</integer>
						<key>Width</key>
						<integer>220</integer>
						<key>Height</key>
						<integer>200</integer>
						<key>Rotation</key>
						<integer>0</integer>
						<key>Visible</key>
						<true/>
						<key>FontName</key>
						<string>Marker Felt</string>
						<key>FontSize</key>
						<integer>15</integer>
						<key>Color_R</key>
						<integer>255</integer>
						<key>Color_G</key>
						<integer>255</integer>
						<key>Color_B</key>
						<integer>255</integer>
						<key>z_index</key>
						<integer>3</integer>
						<key>AnchorPointX</key>
						<string>0.5</string>
						<key>AnchorPointY</key>
						<string>0.5</string>
					</dict>
				</dict>
			</dict>
			<key>Actions</key>
			<dict>
				<key>TestSequenMoving</key>
				<dict>
					<key>Object</key>
					<string>FingerTapSprite</string>
					<key>ActionType</key>
					<string>MovingSequence</string>
					<key>ScheduleAfterTime</key>
					<integer>3</integer>
					<key>Repeat</key>
					<integer>-1</integer>
					<key>ActionSequence</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>0.75</real>
							<key>Destination_Y</key>
							<integer>200</integer>
							<key>Destination_X</key>
							<integer>200</integer>
							<key>ActionType</key>
							<string>LinearMoving</string>
						</dict>
						<dict>
							<key>Positive</key>
							<false/>
							<key>Loop</key>
							<integer>3</integer>
							<key>EndAmplitude</key>
							<integer>50</integer>
							<key>StartAmplitude</key>
							<integer>50</integer>
							<key>Destination_Y</key>
							<integer>0</integer>
							<key>Destination_X</key>
							<integer>0</integer>
							<key>Duration</key>
							<integer>3</integer>
							<key>ActionType</key>
							<string>ZiczacMoving</string>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
		<key>Story_2</key>
		<dict>
			<key>Objects</key>
			<dict>
				<key>TextGuide</key>
				<dict>
					<key>Parameters</key>
					<dict>
						<key>TextContent</key>
						<string>Tap to create a ball at this point!!!</string>
						<key>PosX</key>
						<integer>230</integer>
						<key>PosY</key>
						<integer>100</integer>
						<key>Width</key>
						<integer>220</integer>
						<key>Height</key>
						<integer>200</integer>
						<key>Rotation</key>
						<integer>0</integer>
						<key>Visible</key>
						<false/>
						<key>FontName</key>
						<string>Marker Felt</string>
						<key>FontSize</key>
						<integer>15</integer>
						<key>Color_R</key>
						<integer>255</integer>
						<key>Color_G</key>
						<integer>255</integer>
						<key>Color_B</key>
						<integer>255</integer>
						<key>z_index</key>
						<integer>3</integer>
						<key>AnchorPointX</key>
						<string>0.5</string>
						<key>AnchorPointY</key>
						<string>0.5</string>
					</dict>
				</dict>
				<key>FingerTapSprite</key>
				<dict>
					<key>Parameters</key>
					<dict>
						<key>PosX</key>
						<integer>40</integer>
						<key>PosY</key>
						<integer>60</integer>
						<key>ScaleX</key>
						<real>0.1</real>
						<key>ScaleY</key>
						<real>0.1</real>
						<key>AnchorPointX</key>
						<integer>0</integer>
						<key>AnchorPointY</key>
						<integer>0</integer>
						<key>Rotation</key>
						<integer>0</integer>
						<key>Visible</key>
						<true/>
						<key>z_index</key>
						<integer>10</integer>
					</dict>
				</dict>
				<key>ParticleTest</key>
				<dict>
					<key>ObjectType</key>
					<string>Particle</string>
					<key>Parameters</key>
					<dict>
						<key>PosX</key>
						<integer>195</integer>
						<key>PosY</key>
						<integer>160</integer>
						<key>Rotation</key>
						<integer>0</integer>
						<key>Visible</key>
						<false/>
						<key>z_index</key>
						<integer>99999</integer>
					</dict>
				</dict>
				<key>TestObject</key>
				<dict>
					<key>Parameters</key>
					<dict>
						<key>PosX</key>
						<integer>240</integer>
						<key>PosY</key>
						<integer>240</integer>
						<key>ScaleX</key>
						<real>0.1</real>
						<key>ScaleY</key>
						<real>0.1</real>
						<key>Rotation</key>
						<integer>0</integer>
						<key>Visible</key>
						<true/>
						<key>z_index</key>
						<integer>10</integer>
					</dict>
				</dict>
			</dict>
			<key>Actions</key>
			<dict>
				<key>EaseHandTo</key>
				<dict>
					<key>Object</key>
					<string>FingerTapSprite</string>
					<key>ActionType</key>
					<string>EaseBackInOut</string>
					<key>Rate</key>
					<integer>2</integer>
					<key>Period</key>
					<real>0.3</real>
					<key>ScheduleAfterTime</key>
					<integer>0</integer>
					<key>ActionSequence</key>
					<array>
						<dict>
							<key>ActionType</key>
							<string>MoveTo</string>
							<key>Destination_X</key>
							<integer>200</integer>
							<key>Destination_Y</key>
							<integer>140</integer>
							<key>Duration</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
				<key>ShowTextGuide</key>
				<dict>
					<key>Object</key>
					<string>TextGuide</string>
					<key>ActionType</key>
					<string>Show</string>
					<key>ScheduleAfterTime</key>
					<real>1</real>
				</dict>
				<key>ShowParticle</key>
				<dict>
					<key>Object</key>
					<string>ParticleTest</string>
					<key>ActionType</key>
					<string>Show</string>
					<key>ScheduleAfterTime</key>
					<real>1</real>
				</dict>
				<key>ScaleTextGuide</key>
				<dict>
					<key>Object</key>
					<string>TextGuide</string>
					<key>ActionType</key>
					<string>Sequence</string>
					<key>Repeat</key>
					<integer>-1</integer>
					<key>ScheduleAfterTime</key>
					<real>1</real>
					<key>ActionSequence</key>
					<array>
						<dict>
							<key>ActionType</key>
							<string>ScaleTo</string>
							<key>ScaleX</key>
							<real>1.025</real>
							<key>ScaleY</key>
							<real>1.025</real>
							<key>Duration</key>
							<real>0.75</real>
						</dict>
						<dict>
							<key>ActionType</key>
							<string>ScaleTo</string>
							<key>ScaleX</key>
							<real>0.975</real>
							<key>ScaleY</key>
							<real>0.975</real>
							<key>Duration</key>
							<real>0.75</real>
						</dict>
					</array>
				</dict>
				<key>RotateHand</key>
				<dict>
					<key>Object</key>
					<string>FingerTapSprite</string>
					<key>ActionType</key>
					<string>Sequence</string>
					<key>Repeat</key>
					<integer>-1</integer>
					<key>ScheduleAfterTime</key>
					<real>1</real>
					<key>ActionSequence</key>
					<array>
						<dict>
							<key>ActionType</key>
							<string>RotateBy</string>
							<key>Angle</key>
							<integer>5</integer>
							<key>Duration</key>
							<real>0.5</real>
						</dict>
						<dict>
							<key>ActionType</key>
							<string>RotateBy</string>
							<key>Angle</key>
							<integer>-5</integer>
							<key>Duration</key>
							<real>0.5</real>
						</dict>
					</array>
				</dict>
				<key>TestZiczacMoving</key>
				<dict>
					<key>Object</key>
					<string>FingerTapSprite</string>
					<key>ActionType</key>
					<string>ZiczacMoving</string>
					<key>ScheduleAfterTime</key>
					<integer>0</integer>
					<key>Duration</key>
					<integer>3</integer>
					<key>Destination_X</key>
					<integer>0</integer>
					<key>Destination_Y</key>
					<integer>0</integer>
					<key>Amplitude</key>
					<integer>2</integer>
					<key>StartAmplitude</key>
					<integer>40</integer>
					<key>EndAmplitude</key>
					<integer>10</integer>
					<key>Loop</key>
					<integer>5</integer>
					<key>Positive</key>
					<false/>
				</dict>
			</dict>
		</dict>
		<key>Story_3</key>
		<dict>
			<key>Objects</key>
			<dict>
				<key>TestObject</key>
				<dict>
					<key>Parameters</key>
					<dict>
						<key>PosX</key>
						<integer>0</integer>
						<key>PosY</key>
						<integer>0</integer>
						<key>ScaleX</key>
						<real>0.1</real>
						<key>ScaleY</key>
						<real>0.1</real>
						<key>Rotation</key>
						<integer>0</integer>
						<key>Visible</key>
						<true/>
						<key>z_index</key>
						<integer>10</integer>
					</dict>
				</dict>
			</dict>
			<key>Actions</key>
			<dict>
				<key>TestMovingEaseIn</key>
				<dict>
					<key>Object</key>
					<string>TestObject</string>
					<key>ActionType</key>
					<string>MovingEaseIn</string>
					<key>ScheduleAfterTime</key>
					<integer>0</integer>
					<key>ActionSequence</key>
					<array>
						<dict>
							<key>ActionType</key>
							<string>RoundMoving</string>
							<key>ScheduleAfterTime</key>
							<integer>0</integer>
							<key>Duration</key>
							<integer>0</integer>
							<key>Destination_X</key>
							<integer>0</integer>
							<key>Destination_Y</key>
							<integer>0</integer>
							<key>Clockwise</key>
							<false/>
						</dict>
					</array>
				</dict>
				<key>TestMovingEaseOut</key>
				<dict>
					<key>Object</key>
					<string>TestObject</string>
					<key>ActionType</key>
					<string>MovingEaseOut</string>
					<key>ScheduleAfterTime</key>
					<integer>0</integer>
					<key>ActionSequence</key>
					<array>
						<dict>
							<key>ActionType</key>
							<string>RoundMoving</string>
							<key>ScheduleAfterTime</key>
							<integer>0</integer>
							<key>Duration</key>
							<integer>0</integer>
							<key>Destination_X</key>
							<integer>0</integer>
							<key>Destination_Y</key>
							<integer>0</integer>
							<key>Clockwise</key>
							<false/>
						</dict>
					</array>
				</dict>
				<key>TestZiczacMoving</key>
				<dict>
					<key>Object</key>
					<string>TestObject</string>
					<key>ActionType</key>
					<string>ZiczacMoving</string>
					<key>ScheduleAfterTime</key>
					<integer>0</integer>
					<key>Duration</key>
					<integer>0</integer>
					<key>Destination_X</key>
					<integer>0</integer>
					<key>Destination_Y</key>
					<integer>0</integer>
					<key>StartAmplitude</key>
					<integer>0</integer>
					<key>EndAmplitude</key>
					<integer>0</integer>
					<key>Loop</key>
					<integer>0</integer>
					<key>Positive</key>
					<false/>
				</dict>
				<key>TestElipMoving</key>
				<dict>
					<key>Object</key>
					<string>TestObject</string>
					<key>ActionType</key>
					<string>ElipMoving</string>
					<key>ScheduleAfterTime</key>
					<integer>0</integer>
					<key>Duration</key>
					<integer>0</integer>
					<key>Destination_X</key>
					<integer>0</integer>
					<key>Destination_Y</key>
					<integer>0</integer>
					<key>Amplitude</key>
					<integer>0</integer>
					<key>Clockwise</key>
					<false/>
				</dict>
				<key>TestSpringMoving</key>
				<dict>
					<key>Object</key>
					<string>TestObject</string>
					<key>ActionType</key>
					<string>SpringMoving</string>
					<key>ScheduleAfterTime</key>
					<integer>0</integer>
					<key>Duration</key>
					<integer>0</integer>
					<key>Destination_X</key>
					<integer>0</integer>
					<key>Destination_Y</key>
					<integer>0</integer>
					<key>Amplitude</key>
					<integer>0</integer>
					<key>Loop</key>
					<integer>0</integer>
					<key>Positive</key>
					<false/>
					<key>DistanceInterval</key>
					<integer>0</integer>
				</dict>
				<key>TestFermatSpiralMoving</key>
				<dict>
					<key>Object</key>
					<string>TestObject</string>
					<key>ActionType</key>
					<string>FermatSpiralMoving</string>
					<key>ScheduleAfterTime</key>
					<integer>0</integer>
					<key>Duration</key>
					<integer>0</integer>
					<key>Destination_X</key>
					<integer>0</integer>
					<key>Destination_Y</key>
					<integer>0</integer>
				</dict>
				<key>TestWavySinMoving</key>
				<dict>
					<key>Object</key>
					<string>TestObject</string>
					<key>ActionType</key>
					<string>WavySinMoving</string>
					<key>ScheduleAfterTime</key>
					<integer>0</integer>
					<key>Duration</key>
					<integer>0</integer>
					<key>Destination_X</key>
					<integer>0</integer>
					<key>Destination_Y</key>
					<integer>0</integer>
					<key>Amplitude</key>
					<integer>0</integer>
					<key>Loop</key>
					<integer>0</integer>
					<key>Positive</key>
					<false/>
				</dict>
				<key>TestRoundMoving</key>
				<dict>
					<key>Object</key>
					<string>TestObject</string>
					<key>ActionType</key>
					<string>RoundMoving</string>
					<key>ScheduleAfterTime</key>
					<integer>0</integer>
					<key>Duration</key>
					<integer>0</integer>
					<key>Destination_X</key>
					<integer>0</integer>
					<key>Destination_Y</key>
					<integer>0</integer>
					<key>Clockwise</key>
					<false/>
				</dict>
				<key>TestMovingRepeat</key>
				<dict>
					<key>Object</key>
					<string>TestObject</string>
					<key>ActionType</key>
					<string>MovingRepeat</string>
					<key>ScheduleAfterTime</key>
					<integer>0</integer>
					<key>Times</key>
					<integer>0</integer>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionType</key>
							<string>RoundMoving</string>
							<key>ScheduleAfterTime</key>
							<integer>0</integer>
							<key>Duration</key>
							<integer>0</integer>
							<key>Destination_X</key>
							<integer>0</integer>
							<key>Destination_Y</key>
							<integer>0</integer>
							<key>Clockwise</key>
							<false/>
						</dict>
					</array>
				</dict>
				<key>TestMovingRepeatForever</key>
				<dict>
					<key>Object</key>
					<string>TestObject</string>
					<key>ActionType</key>
					<string>MovingRepeatForever</string>
					<key>ScheduleAfterTime</key>
					<integer>0</integer>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionType</key>
							<string>RoundMoving</string>
							<key>ScheduleAfterTime</key>
							<integer>0</integer>
							<key>Duration</key>
							<integer>0</integer>
							<key>Destination_X</key>
							<integer>0</integer>
							<key>Destination_Y</key>
							<integer>0</integer>
							<key>Clockwise</key>
							<false/>
						</dict>
					</array>
				</dict>
				<key>TestMovingSequence</key>
				<dict>
					<key>Object</key>
					<string>TestObject</string>
					<key>ActionType</key>
					<string>MovingSequence</string>
					<key>ScheduleAfterTime</key>
					<integer>0</integer>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionType</key>
							<string>RoundMoving</string>
							<key>ScheduleAfterTime</key>
							<integer>0</integer>
							<key>Duration</key>
							<integer>0</integer>
							<key>Destination_X</key>
							<integer>0</integer>
							<key>Destination_Y</key>
							<integer>0</integer>
							<key>Clockwise</key>
							<false/>
						</dict>
					</array>
				</dict>
				<key>TestLinearMoving</key>
				<dict>
					<key>Object</key>
					<string>TestObject</string>
					<key>ActionType</key>
					<string>LinearMoving</string>
					<key>ScheduleAfterTime</key>
					<integer>0</integer>
					<key>Duration</key>
					<integer>0</integer>
					<key>Destination_X</key>
					<integer>0</integer>
					<key>Destination_Y</key>
					<integer>0</integer>
				</dict>
				<key>TestCustomSpringMoving</key>
				<dict>
					<key>Object</key>
					<string>TestObject</string>
					<key>ActionType</key>
					<string>CustomSpringMoving</string>
					<key>ScheduleAfterTime</key>
					<integer>0</integer>
					<key>Duration</key>
					<integer>0</integer>
					<key>Destination_X</key>
					<integer>0</integer>
					<key>Destination_Y</key>
					<integer>0</integer>
					<key>MaxAmplitude</key>
					<integer>0</integer>
					<key>MinAmplitude</key>
					<integer>0</integer>
					<key>NumberSpring</key>
					<integer>0</integer>
					<key>DistanceInterval</key>
					<integer>0</integer>
					<key>Positive</key>
					<false/>
					<key>Increase</key>
					<false/>
				</dict>
				<key>TestMovingRevert</key>
				<dict>
					<key>Object</key>
					<string>TestObject</string>
					<key>ActionType</key>
					<string>MovingRevert</string>
					<key>ScheduleAfterTime</key>
					<integer>0</integer>
					<key>Times</key>
					<integer>0</integer>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionType</key>
							<string>RoundMoving</string>
							<key>ScheduleAfterTime</key>
							<integer>0</integer>
							<key>Duration</key>
							<integer>0</integer>
							<key>Destination_X</key>
							<integer>0</integer>
							<key>Destination_Y</key>
							<integer>0</integer>
							<key>Clockwise</key>
							<false/>
						</dict>
					</array>
				</dict>
				<key>TestMovingRevertForever</key>
				<dict>
					<key>Object</key>
					<string>TestObject</string>
					<key>ActionType</key>
					<string>MovingRevertForever</string>
					<key>ScheduleAfterTime</key>
					<integer>0</integer>
					<key>Duration</key>
					<integer>0</integer>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionType</key>
							<string>RoundMoving</string>
							<key>ScheduleAfterTime</key>
							<integer>0</integer>
							<key>Duration</key>
							<integer>0</integer>
							<key>Destination_X</key>
							<integer>0</integer>
							<key>Destination_Y</key>
							<integer>0</integer>
							<key>Clockwise</key>
							<false/>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
