<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Objects</key>
	<dict>
		<key>SpriteBall</key>
		<dict>
			<key>ObjectType</key>
			<string>Sprite</string>
			<key>Sprite</key>
			<dict>
				<key>FileName</key>
				<string>TestTutorialLib/Images/soccer-ball1.png</string>
				<key>FrameName</key>
				<string>ballsprite</string>
			</dict>
			<key>Parameters</key>
			<dict>
				<key>PosX</key>
				<integer>200</integer>
				<key>PosY</key>
				<integer>200</integer>
				<key>Width</key>
				<integer>200</integer>
				<key>Height</key>
				<integer>200</integer>
				<key>Rotation</key>
				<integer>70</integer>
				<key>Visible</key>
				<false/>
				<key>TextContent</key>
				<string>This is an example content</string>
				<key>FontName</key>
				<string>Marker Felt</string>
				<key>FontSize</key>
				<integer>11</integer>
			</dict>
			<key>Animation</key>
			<dict>
				<key>ListFrameFileName</key>
				<string>TestTutorialResource/soccer-ball1.png</string>
				<key>FrameBegin</key>
				<integer>1</integer>
				<key>FrameEnd</key>
				<integer>1</integer>
				<key>Duration</key>
				<integer>1</integer>
				<key>Loop</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
	<key>Storyboard</key>
	<dict>
		<key>Story_1</key>
		<dict>
			<key>Action_1</key>
			<dict>
				<key>Object</key>
				<string>SpriteBall</string>
				<key>ActionType</key>
				<string>Show</string>
				<key>ScheduleAfterTime</key>
				<integer>0</integer>
				<key>Repeat</key>
				<integer>0</integer>
			</dict>
			<key>Action_2</key>
			<dict>
				<key>Object</key>
				<string>SpriteBall</string>
				<key>ActionType</key>
				<string>MoveTo</string>
				<key>Destination_X</key>
				<integer>350</integer>
				<key>Destination_Y</key>
				<integer>350</integer>
				<key>Duration</key>
				<integer>2</integer>
				<key>Repeat</key>
				<integer>0</integer>
				<key>ScheduleAfterTime</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
